body {
  background: #001628;
  color: #777;
  font-family: sans-serif;
  line-height: 1.15;
  padding: 4em;
}

.App,
#root {
  height: 100%;
  text-align: center;
}

.users-list {
  margin-inline: auto !important;
  --item-gap: 0.3rem;
}

.users-list .column {
  min-height: 112px;
  padding: var(--item-gap) !important;
}

.users-list .column img {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 20px 20px rgba(0, 0, 0, 0.05);
  margin: 0px auto;
  object-fit: contain;
}
